<ion-content padding>
    <form [formGroup]="registerForm" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input  type="text" 
                        formControlName="name">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Apellidos</ion-label>
            <ion-input  type="text" 
                        formControlName="lastname">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input  type="text" 
                        formControlName="email">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Teléfono</ion-label>
            <ion-input  type="text" 
                        formControlName="phone">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Género</ion-label>
            <ion-input  type="text" 
                        formControlName="gender">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input  type="text" 
                        formControlName="birthDate">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Ciudad nacimiento</ion-label>
            <ion-input  type="text" 
                        formControlName="bornCity">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Ciudad actual</ion-label>
            <ion-input  type="text" 
                        formControlName="actualCity">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input  type="password" 
                        formControlName="password">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Repetir contraseña</ion-label>
            <ion-input  type="password" 
                        formControlName="confirmPassword">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Terminos y condiciones</ion-label>
            <ion-toggle [(ngModel)]="termsAgree" 
                        checked="false" 
                        formControlName="termsAgree"></ion-toggle>
        </ion-item>
        {{registerForm.valid}}
        <button ion-button  
                type="submit" 
                [disabled]="!registerForm.valid">
            Submit
        </button>
    </form>
</ion-content>

